<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MAIN_GROUP_SETTINGS</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>updateOnStartup</string>
			<key>Title</key>
			<string>AUTOUPDATE_SWITCH_TITLE</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Киев</string>
				<string>Белая церковь</string>
				<string>Бровары</string>
				<string>Буча</string>
				<string>Винница</string>
				<string>Днепропетровск</string>
				<string>Донецк</string>
				<string>Житомир</string>
				<string>Запорожье</string>
				<string>Ивано-Франковск</string>
				<string>Ирпень</string>
				<string>Краматорск</string>
				<string>Кривой Рог</string>
				<string>Луганск</string>
				<string>Луцк</string>
				<string>Львов</string>
				<string>Мариуполь</string>
				<string>Николаев</string>
				<string>Одесса</string>
				<string>Полтава</string>
				<string>Ровно</string>
				<string>Севастополь</string>
				<string>Симферополь</string>
				<string>Сумы</string>
				<string>Тернополь</string>
				<string>Ужгород</string>
				<string>Харьков</string>
				<string>Хмельницкий</string>
				<string>Черкассы</string>
				<string>Чернигов</string>
				<string>Черновцы</string>
				<string>Ялта</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>32</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>33</string>
				<string>25</string>
				<string>30</string>
				<string>26</string>
				<string>27</string>
				<string>28</string>
				<string>29</string>
			</array>
			<key>Title</key>
			<string>SELECT_CITY</string>
			<key>Key</key>
			<string>selectCity</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ABOUT_GROUP_SETTINGS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
			<key>Title</key>
			<string>MAIL_US</string>
			<key>DefaultValue</key>
			<string>Bugs or suggestions</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>popcornua.by.leo@gmail.com</string>
			</array>
			<key>IASKMailComposeBodyIsHTML</key>
			<false/>
			<key>IASKMailComposeSubject</key>
			<string>PopCornUA for iOS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Key</key>
			<string></string>
			<key>DefaultValue</key>
			<string>1.2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>COPYRIGHT</string>
			<key>Key</key>
			<string></string>
			<key>DefaultValue</key>
			<string>Alexey Vasyliev, Timur Prokopiev</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
